@font-face {
   font-family: 'Ethnocentric';
  src: url('../assets/HEED_Fonts/SETXT.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
   font-family: 'Meiryo';
  src: url('../assets/HEED_Fonts/Meiryo-UI-W53-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
   font-family: 'OCTA';
  src: url('../assets/HEED_Fonts/OCTA-UNIMONO-W01-REGULAR.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* 

@font-face {
  font-family: 'MyFont2';
  src: url('./assets/HEED_Fonts/62DRAGZ.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'MyFont3';
  src: url('./assets/HEED_Fonts/AGENCYFB-BLACKEXTENDED.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont4';
  src: url('./assets/HEED_Fonts/OCTA\ UNIMONO\ W01\ REGULAR.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}
 */
